ops[testing]==2.17.1
cryptography~=43.0.1
distro==1.9.0
python-dotenv~=1.0.1
pycryptodome==3.20.0
slurmutils<1.0.0,>=0.12.0
dbus-fast>=1.90.2
pyfakefs==5.7.1
nvidia-ml-py==12.560.30

# `cos` dependencies
cosl
pydantic
